.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gallery-title {
        font-size: 2.5em;
        margin: 0 0 1rem;
        text-shadow: none;
        color: black;
        font-family: "Roboto Condensed", sans-serif;
    }
}

.galleryBlock {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1123px;
    margin: 10px auto;
}